<h3><%=@animal.animal_name%></h3>

<%if @animal.sightings.any?%>
<h3>Here are the sightings for this animal:</h3>
  <ul>
    <% @animal.sightings.each do |sighting|%>
      <li> <%= sighting.location_name %> </li>
      <li> <%=sighting.longitude %> </li>
      <li> <%=sighting.latitude %> </li>
      <li> <%=sighting.date_time %> </li>
      <p>
        <%= link_to "Edit", edit_animal_sighting_path(@animal, sighting)%> |
        <%= link_to "Delete", animal_sighting_path(@animal, sighting), :data => {:confirm => "Are you sure that you want to delete this sighting", :method => "delete"}%>
      </p>
    <% end %>
  </ul>
    <%else%>
    <p>
      There are no sightings yet for this animal!
    </p>
    <% end %>
<p>
  <%=link_to "Add Sighting", new_animal_sighting_path(@animal)%>
</p>
<p>
  <%=link_to "Edit", edit_animal_path(@animal)%>
</p>
<p>
  <%=link_to "Delete", animal_path(@animal), :data => {:confirm => "Are you sure?",
    :method => "delete"}%>
</p>
<p>
  <%=link_to "Go Back", animals_path %>

</p>
